{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Select Your Favorite Team</h1>

    <form action="/team" method="post" class="my-4">
        <div class="mb-3">
            <label for="team" class="form-label">Select Team</label>
            <select id="teamDropdown" name="team" class="form-select w-50 mx-auto">
                {% for league, teams in teams_by_league.items() %}
                <optgroup label="{{ league }}">
                    {% for team in teams %}
                    <option value="{{ team.name }}">{{ team.name }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock %}